<script setup lang="ts">
import MovieForm from 'components/MovieForm.vue';
</script>

<template>
  <q-page class="col items-center q-pa-md">
    <div class="grid-container">
      <movie-form />
    </div>
  </q-page>
</template>

<style scoped></style>
