<script setup lang="ts">
import { useRouter } from 'vue-router';
import useMovieStore from 'src/stores/movie-store';
import MovieForm from 'components/MovieForm.vue';

const router = useRouter();
const movieId = router.currentRoute.value.params.id;

const movieStore = useMovieStore();

const movie = movieStore.movies.find((movie) => movie.id === movieId);
</script>

<template>
  <q-page class="col items-center q-pa-md">
    <div class="grid-container">
      <movie-form
        :title="movie?.title"
        :director="movie?.director"
        :summary="movie?.summary"
        :genres="movie?.genres.split('|')"
        :imageUrl="movie?.image_url"
        :id="movie?.id"
      />
    </div>
  </q-page>
</template>

<style scoped></style>
