<template>
  <q-page class="col items-center justify-center">
    <movie-list />

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="primary" to="/movie/add" />
    </q-page-sticky>
  </q-page>
</template>

<script setup lang="ts">
import MovieList from 'components/MovieList.vue';
</script>
