<script setup lang="ts">
import { computed } from 'vue';
import { useRouter } from 'vue-router';

const props = defineProps({
  id: String,
  title: String,
  director: String,
  summary: String,
  genre: String,
  image_url: String,
});

const router = useRouter();
const genres = computed(() => props.genre?.split('|'));

function goToDetailPage() {
  router.push(`/movie/${props.id}/edit`);
}
</script>

<template>
  <q-card class="my-card" @click="goToDetailPage">
    <img :src="image_url" :alt="title" class="q-pa-md" />

    <q-card-section>
      <div class="title">{{ title }}</div>
      <div class="director">By {{ director }}</div>
      <div class="summary">{{ summary }}</div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div class="text-grey-8">Genre:</div>
      <div class="text-grey-8">
        <q-chip v-for="genre in genres" :key="genre">{{ genre }}</q-chip>
      </div>
    </q-card-section>
  </q-card>
</template>

<style scoped>
.title {
  font-size: 20px;
  font-weight: 500;
}

.director {
  font-size: 14px;
  color: grey;
}

.summary {
  font-size: 14px;
  color: grey;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
