<script setup lang="ts">
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import { v4 as uuid } from 'uuid';
import useMovieStore from 'src/stores/movie-store';

const props = defineProps({
  id: {
    type: String,
    default: '',
  },
  title: {
    type: String,
    default: '',
  },
  director: {
    type: String,
    default: '',
  },
  summary: {
    type: String,
    default:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.',
  },
  genres: {
    type: Array<string>,
    default: () => [],
  },
  imageUrl: {
    type: String,
    default: 'https://dummyimage.com/196x100.png/dddddd/000000',
  },
});

const movieStore = useMovieStore();
const router = useRouter();
const isEditing = router.currentRoute.value.path.includes('edit');

const title = ref<string>(props.title);
const genres = ref<string[]>(props.genres);
const director = ref<string>(props.director);
const summary = ref<string>(props.summary);
const imageUrl = ref<string>(props.imageUrl);

const isSaving = ref<boolean>(false);
const isDeleting = ref<boolean>(false);
const isActionDisabled = computed(() => isSaving.value || isDeleting.value);
const submitButtonLabel = computed(() => (isEditing ? 'Save' : 'Submit'));

async function onSave(evt: Event) {
  try {
    isSaving.value = true;
    const formData = new FormData(evt.target as HTMLFormElement);

    const result = await movieStore.addMovie({
      id: uuid(),
      title: formData.get('title') as string,
      director: formData.get('director') as string,
      summary: formData.get('summary') as string,
      genres: formData.getAll('genres').join('|'),
      image_url: formData.get('imageUrl') as string,
    });

    if (result) {
      router.push('/');
    }
  } catch (error) {
    console.error(error);
  } finally {
    isSaving.value = false;
  }
}
async function onEdit(env: Event) {
  try {
    isSaving.value = true;
    const formData = new FormData(env.target as HTMLFormElement);

    const result = await movieStore.editMovie({
      id: props.id,
      title: formData.get('title') as string,
      director: formData.get('director') as string,
      summary: formData.get('summary') as string,
      genres: formData.getAll('genres').join('|'),
      image_url: formData.get('imageUrl') as string,
    });

    if (result) {
      router.push('/');
    }
  } catch (error) {
    console.error(error);
  } finally {
    isSaving.value = false;
  }
}

async function onSubmit(evt: Event) {
  if (isEditing) {
    await onEdit(evt);
  } else {
    await onSave(evt);
  }
}

async function onDelete() {
  try {
    isDeleting.value = true;
    await movieStore.deleteMovie(props.id);
    router.push('/');
  } catch (error) {
    console.error(error);
  } finally {
    isDeleting.value = false;
  }
}
</script>

<template>
  <div class="form-container">
    <q-form
      @submit.prevent="onSubmit"
      @reset="onDelete"
      class="q-mt-md q-px-sm w-full"
    >
      <q-input
        name="title"
        outlined
        label="Movie title"
        v-model="title"
        lazy-rules
        :rules="[
          (val) => (val && val.length > 0) || 'Please enter the movie title',
        ]"
      />
      <q-input
        name="director"
        outlined
        v-model="director"
        label="Director"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />
      <q-input
        name="summary"
        outlined
        v-model="summary"
        label="Summary"
        type="textarea"
        lazy-rules
        :rules="[
          (val) => (val && val.length > 0) || 'Please enter the movie summary',
          (val) =>
            (val && val.length <= 100) ||
            'Please enter a summary that is less than 100 characters',
        ]"
      />
      <q-select
        name="genres"
        outlined
        v-model="genres"
        label="Genres"
        multiple
        :options="[
          'Action',
          'Adventure',
          'Comedy',
          'Crime',
          'Drama',
          'Fantasy',
          'Historical',
          'Historical fiction',
          'Horror',
          'Magical realism',
          'Mystery',
          'Paranoid fiction',
          'Philosophical',
          'Political',
          'Romance',
          'Saga',
          'Satire',
          'Science fiction',
          'Social',
          'Speculative',
          'Thriller',
          'Urban',
          'Western',
        ]"
        lazy-rules
        :rules="[
          (val) =>
            (val && val.length > 0) || 'Please select at least one genre',
        ]"
      />
      <q-input
        name="imageUrl"
        outlined
        v-model="imageUrl"
        label="Image URL"
        lazy-rules
        :rules="[
          (val) => (val && val.length > 0) || 'Please enter the image URL',
        ]"
      />

      <div class="button-container q-mt-md">
        <q-btn
          :label="submitButtonLabel"
          type="submit"
          color="primary"
          class="w-full"
          :loading="isSaving"
          :disable="isActionDisabled"
        />
        <q-btn
          v-if="isEditing"
          label="Delete"
          type="reset"
          color="negative"
          class="w-full"
          :loading="isDeleting"
          :disable="isActionDisabled"
        />
      </div>
    </q-form>
  </div>
</template>

<style scoped>
.form-container {
  grid-column: span 1 / span 1;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .form-container {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
  }
}
</style>
