<script setup lang="ts">
import { computed, ref } from 'vue';
import MovieCard from './MovieCard.vue';
import useMovieStore from '../stores/movie-store';

const moviesStore = useMovieStore();

const movies = computed(() => {
  return moviesStore.movies.filter((movie) => {
    return movie.title.toLowerCase().includes(search.value.toLowerCase());
  });
});
const search = ref<string>('');
</script>

<template>
  <div class="q-pa-md">
    <q-input
      outlined
      v-model="search"
      label="Search"
      placeholder="Search movie by title"
      dense
    />

    <div class="grid-container">
      <MovieCard
        v-for="movie in movies"
        :key="movie.id"
        :title="movie.title"
        :director="movie.director"
        :summary="movie.summary"
        :genre="movie.genres"
        :image_url="movie.image_url"
        :id="movie.id"
      />
    </div>
  </div>
</template>

<style scoped></style>
