<script setup lang="ts">
import { useRouter } from 'vue-router'
const router = useRouter();
function backHome() {
  router.push('/')
}
</script>

<template>
  <q-layout view="hHh Lpr fFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title class="row justify-center items-center" @click="backHome">
          BRIIXFLIX
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

